{{ define "main" }}
  {{ $pages := .Pages }}
  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}
    {{ partial "article_link.html" . }}
  {{ end }}

  <nav class="page_navigation">
    <ul>
      {{ if $paginator.HasPrev }}
        <li class="prev_page_link">
          <a href="{{ $paginator.Prev.URL }}">Newer</a>
        </li>
      {{ end }}
      {{ if $paginator.HasNext }}
        <li class="next_page_link">
          <a href="{{ $paginator.Next.URL }}">Older</a>
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
