/* Base CSS styles for the entire website */

/* Reset absolutely everything to border-box, which makes more sense */
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Droid Sans", sans-serif;
    font-size: 16px;
}

a {
    /* Reset link colors to inherit, so they don't differ. */
    color: inherit;
    cursor: pointer;
}

a.button,
button {
    padding: 0.5em;

    font-family: "Droid Sans", sans-serif;
    font-size: 12pt;
    text-decoration: none;

    border: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-image: none;

    outline: none;

    cursor: pointer;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

textarea,
input {
    background-image: none;
}

button + button,
a.button + a.button,
button + a.button,
a.button + button {
    margin-left: 1em;
}

pre {
    white-space: pre-wrap;
}

code {
    font-family: "Source Code Pro", monospace;
    font-weight: normal;

    /*
     * Reset the line height to inherit so it inline code spans
     * don't mess up line height.
     */
    line-height: inherit;
}

form {
    padding: 1em;

    max-width: 50em;
}

form.busy,
form.busy * {
    cursor: wait;
}

/* Forms */
form > ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

form > ul > li {
    margin-top: 1em;
}

form > ul > li:first-child {
    margin-top: 0;
}

form > ul > li > label {
    display: block;

    width: 100%;
    margin-bottom: 0.5em;

    font-weight: bold;

    color: #eee;
}

form > ul > li > select,
form > ul > li > input,
form > ul > li > textarea {
    display: block;

    font-size: 12pt;
    width: 100%;
}

form > ul > li > input,
form > ul > li > textarea {
    border: 1px solid black;
    padding: 0.5em;
}

form > ul > li > textarea {
    /* Enough initial height for 5 lines with padding. */
    min-height: 2em;
    height: 6.5em;
}

/* Give taller screens a taller initial textarea size */
@media screen and (min-height: 30em) {
    form > ul > li > textarea {
        height: 20em;
    }
}

form > ul > li > .helptext {
    display: block;
    margin-top: 0.5em;
}

/* Checkboxes get special treatment */
form > ul > li > input[type=checkbox] {
    display: inline;
}

form > ul > li > input[type=checkbox] + .helptext {
    display: inline;
    margin-top: 0;
    margin-left: 0.5em;
}

form > ul > li.buttons {
    position: relative;
    height: 2em;
}

form > ul > li.buttons > button,
form > ul > li.buttons > .button {
    margin: 0 1em 0 0;
}

form > ul > li.buttons > button:last-child,
form > ul > li.buttons > .button:last-child {
    font-weight: bold;
}

form > ul > li.error > label {
    font-style: italic;
}

form > ul > li > ul.errorlist {
    background-color: #7D3535;
    color: white;

    display: block;

    padding: 0.5em 1em;
    margin: 0 0 1em 0;

    list-style-type: none;
}

form > ul > li > ul.errorlist > li {
    display: inline-block;

    font-weight: bold;
}

.ningen {
    display: none;
}

/* Tiny screens and up. */
@media screen {
    #main > nav {
        margin-top: 4em;
    }

    a.button,
    button {
        background-color: #444;
        color: white;
    }

    a.button.toggled,
    button.toggled {
        background-color: white;
        color: #444;
    }

    body {
        background-color: #333;
        color: white;
    }

    body > header .site_title,
    body > header > nav {
        display: inline;
        margin: 16px 8px;
    }

    /* The blog site header */
    body > header .site_title {
        float: left;

        text-shadow: black 5px 5px 10px;
        font-family: "Source Code Pro", monospace;
        font-size: 40pt;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    body > header .site_link {
        text-decoration: none;
    }

    body > header > nav {
        float: right;
    }

    body > header > nav > ul {
        display: inline;

        list-style-type: none;
        padding: 0;
    }

    body > header > nav > ul > li {
        display: inline-block;
        margin-right: 0.5em;
    }

    body > header > nav > ul > li:last-child {
        margin-right: 0;
    }

    body > header .icon {
        display: inline-block;
        width: 64px;
        height: 64px;

        background-image: url("../image/icons.png");
    }

    body > header .icon.github {
        background-position: 0 0;
    }

    body > header .icon.twitter {
        background-position: -64px 0;
    }

    body > header .icon.youtube {
        background-position: -128px 0;
    }

    body > header .icon.steam {
        background-position: -192px 0;
    }

    body > header .icon.soundcloud {
        background-position: -256px 0;
    }

    body > header .icon.email {
        background-position: -320px 0;
    }

    body > header .icon.rss {
        background-position: -384px 0;
    }

    body > header .icon.settings {
        background-position: -448px 0;
    }

    body > header .icon.bandcamp {
        background-position: -512px 0;
    }

    body > header > menu {
        clear: both;
        position: relative;

        background-color: #222;
        color: white;

        height: 80px;
        padding: 24px 8px;
    }

    body > header > menu.author_utils > .description {
        margin-left: 8px;
        margin-right: 1em;
    }

    body > header > menu.author_utils > .description:after {
        content: ":";
    }

    body > header > menu > .site_nav_link {
        padding: 0.25em;
        font-size: 32px;

        text-decoration: none;
    }

    body > header > menu > .site_nav_link.active {
        font-weight: bold;
    }

    body > header > menu > .site_nav_link + .site_nav_link {
        margin-left: 0.5em;
        border-left: 1px solid #444;
        padding-left: 0.75em;
    }

    body > header > menu > .settings {
        position: absolute;

        right: 8px;
        top: 8px;

        width: 64px;
        height: 64px;
    }

    body > header > menu > .settings > .icon {
        width: 64px;
        height: 64px;
    }

    /* Main site navigation. */
    #main > nav {
        margin-bottom: 1em;

        background-color: #2a2a34;
        color: white;
    }

    #main > nav.fixed_when_big {
        position: static;
    }

    #main > nav > aside > header {
        text-align: center;
        font-size: 1.5em;

        color: #eee;
        background-color: #222;

        padding: 0.25em 0;
    }

    #main > nav > aside > ol {
        font-size: 14pt;
        padding: 0 0 0.5em 0;
        margin: 0.5em 0;

        list-style-type: none;
    }

    #main > nav > aside > ol > li {
        /* Aside lists are horizontal on small screens. */
        display: inline-block;

        margin-left: 1em;
    }

    #main > nav > aside > ol > li:not(:first-child) {
        margin-top: 0.25em;
    }
}

@media screen and (max-width: 520px) {
    body > header > nav {
        text-align: left;
    }
}

@media screen and (min-width: 521px) {
    body > header > nav {
        text-align: center;
    }
}

/* Small size screens and up */
@media screen and (min-width: 768px) {
}

/* Keep the title above the social nav up to a very particular pixel size. */

@media screen and (max-width: 784px) {
    body > header .site_title,
    body > header > nav {
        display: block;
        float: none;
    }

    body > header .site_title {
        text-align: center;
    }
}

/* Introduce the settings text just after the break on nav alignment. */
@media screen and (min-width: 785px) {
    body > header > menu > .settings:before {
        content: "Settings: ";

        position: absolute;

        top: 12px;
        right: 80px;

        font-size: 32px;
    }
}

/* Medium size screens and up */
@media screen and (min-width: 960px) {
    /* Set the size of the pages in general. */
    body > header,
    #main,
    body > footer {
        width: 100%;
        max-width: 1200px;
        min-height: 1em;

        margin: 0 auto;
    }

    #main > .content {
        float: left;

        width: 75%;
    }

    /* Main site navigation as a sidebar */
    #main > nav {
        float: right;

        width: 24%;
        margin: 0;
    }

    body > header > nav > ul > li > a > img {
        width: 48px;
        height: 48px;
    }

    body > header > menu {
        height: 64px;
        padding: 20px 8px;
    }

    body > header > menu > .site_nav_link {
        font-size: 24px;
    }

    body > header > menu > .settings {
        right: 8px;
        top: 8px;

        width: 48px;
        height: 48px;
    }

    body > header > menu > .settings:before {
        top: 14px;
        right: 64px;

        font-size: 16px;
    }

    body > header > menu > .settings > .icon {
        width: 48px;
        height: 48px;

        background-size: 384px 48px;
        background-position: -336px 0;
    }

    #main > nav.fixed_when_big {
        position: fixed;
        top: 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #main > nav > aside > ol > li {
        /* Now the aside are on the side, make the lists vertical */
        display: list-item;
    }
}

/* Large screens */
@media screen and (min-width: 1200px) {
    #main > nav.fixed_when_big {
        width: 288px;
    }
}
