<header>
  <h1 class="site_title"><a class="site_link" href="/blog/">w0rp zone</a></h1>
  <nav>
    <!-- Icons by Dan Leech - http://www.iconarchive.com/artist/danleech.html -->
    <ul>
      <li>
        <a href="https://github.com/w0rp">
          <span class="icon github" title="View, run, or modify my code (including this website)"></span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCveXTNYWISOUkT-287-dT7A/videos">
          <span class="icon youtube" title="Watch my videos on YouTube"></span>
        </a>
      </li>
      <li>
        <a href="https://steamcommunity.com/id/w0rp">
          <span class="icon steam" title="Play video games with me on Steam"></span>
        </a>
      </li>
      <li>
        <a href="https://bristolemo.com">
          <span class="icon bandcamp" title="Listen Bristol Emo (my music and more)"></span>
        </a>
      </li>
      <!-- Additional email icon by dAKirby309 - http://www.iconarchive.com/artist/dakirby309.html -->
      <li>
        <a href="mailto:dev@w0rp.com">
          <span class="icon email" title="Send me an email"></span>
        </a>
      </li>
      <li>
        <!-- TODO: Link to RSS feed -->
        <a href="">
          <span class="icon rss" title="Subscribe to my articles"></span>
        </a>
      </li>
    </ul>
  </nav>
  <menu>
    <a class="site_nav_link active" href="/blog">Blog</a>
  </menu>
</header>
